/*Gerais */

body {
    font-family: 'Roboto', sans-serif;
}

p, li {
    color: #000000;
    ;
    font-size: 16px;
}

/* Barra de Navegação*/

nav {
    background-color: white;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 60px;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
    color: black;
}

#navbar-links a {
    color: black;
    padding-bottom: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

@media (min-width: 994px) {
    #navbar-links a:hover {
        color: #2d8cf0;
        border-bottom: 3px solid #2d8cf0;
        top: -5px;
        bottom: -8px;
        transition: all 300ms ease;
    }
}

/* Nav com Scroll */

.nav-scrolled .navbar-brand {
    color: white;
    transition: all 300ms ease;
}

.nav-scrolled #navbar-links a {
    color: white;
    transition: all 300ms ease;
}

.nav-scrolled #logo {
    width: 40px;
    transition: all 300ms ease;
}

.nav-scrolled {
    align-items: center;
    box-sizing: border-box;
    max-width: 1440px;
    transition: all 300ms ease;
    background-color: black;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
}

main {
    margin-top: 50px;
    padding: 50px;
    background-color: #f2f3f6;
}

#myModal {
    overflow-y: hidden;
}

.modal-header {
    cursor: move;
}